body{
	font: 20px Arial, sans-sarif;
}
.navbar{
	background-color: #00B4D8;
}
.quem-sou{
	background-color: blue;
}
.margin{
	
	padding-bottom: 50px;
	padding-top: 10px
}
.projetos{
	background-color: #00B4D5;

}